@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<div class="maincontent">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Não tem permissões para aceder a este recurso.</p>
    </header>
</div>