@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<div class="maincontent">
    <h1>@ViewData["Title"]</h1>

    <p>
        O seu email foi confirmado com sucesso.
    </p>
</div>