@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmar alteração de email";
}

<div class="maincontent">

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

</div>