@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu-se da sua password";
}

<div class="maincontent">

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique o seu email para recuperar a sua password.
</p>

</div>

