@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmar alteração de password";
}

<div class="maincontent">

    <h1>@ViewData["Title"]</h1>
    <p>
        A sua password foi redefinida. Por favor, <a asp-page="./Login">clique aqui para se autenticar.</a>.
    </p>

</div>