
@{
    ViewData["Title"] = "Acerca";
}

<div class="maincontent">
    <h1>Acerca</h1>
    <br />
    <hr />
    <br />
    <div>
        <p>       
            Os cinemas webima, fundados por um grupo de amigos apaixonados pela sétima arte, surgiram como resposta ao modelo mais popular de cinema como parte de um centro comercial.
            É a nossa crença que a arte do cinema deve ser apreciada num espaço completamente dedicado a si, podendo assim ser garantida também uma maior qualidade de experiência para o cliente.
        </p>
        <br />
        <p>
            Também acreditamos que a longa história desta arte deve ser respeitada e honrada, pelo que fazemos da nossa missão apresentar aos nossos clientes uma seleção de filmes que abrange
            dos mais recentes e excitantes blockbusters aos clássicos filmes que fizeram do cinema algo tão importante nas nossas vidas.
            Se és um verdadeiro amante de cinema podemos garantir com confiança que oferecemos a melhor experiência para pessoas como tu, sendo as nossas instalações o lugar ideal para encontrares
            e conheceres outros cinéfilos como tu.
        </p>
        <br />
        <p>
            Somos uma instituição relativamente recente, tendo a nossa primeira sala sido fundada em 2015. Desde então fomos capazes de expandir o nosso negócio com bastante sucesso, e contamos agora
            com mais de 20 salas distribuidas por 4 cinemas.
            Anda e vive a alegria de amar cinema connosco.
        </p>
    </div>
</div>

